[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
"psycopg2-binary" = "*"
djangorestframework = "*"
django-filter = "*"
elasticsearch = "*"
django-elasticsearch-dsl = {git = "https://github.com/HansAdema/django-elasticsearch-dsl.git", ref = "elasticsearch-6"}

[dev-packages]

[requires]
python_version = "3.6"
